In [1]:
import pandas as pd
import numpy as np

In [2]:
url = "https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data"
columns = ['sepal_length', 'sepal_width', 'petal_length', 'petal_width', 'species']
df = pd.read_csv(url, names=columns, header=None)

In [3]:
print(df.shape)
print(df.columns)
df.head()

(150, 5)
Index(['sepal_length', 'sepal_width', 'petal_length', 'petal_width',
       'species'],
      dtype='object')

   sepal_length  sepal_width  petal_length  petal_width      species
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa

In [4]:
df_setosa = df[df["species"] == "Iris-setosa"]
df_versicolor = df[df["species"] == "Iris-versicolor"]
df_virginica = df[df["species"] == "Iris-virginica"]

print("Setosa count: ", len(df_setosa))
print("Versicolor count: ", len(df_versicolor))
print("Virginica count: ", len(df_virginica))

Setosa count:  50
Versicolor count:  50
Virginica count:  50

In [5]:
grouped = df.groupby("species")[["sepal_length", "sepal_width", "petal_length", "petal_width"]].mean()
grouped

                 sepal_length  sepal_width  petal_length  petal_width
species
Iris-setosa             5.006        3.418         1.464        0.244
Iris-versicolor         5.936        2.770         4.260        1.326
Iris-virginica          6.588        2.974         5.552        2.026

In [6]:
mean_petal_len = grouped["petal_length"].values
species = grouped.index.values

idx_max = np.argmax(mean_petal_len)
print(f"Species with longest petals: {species[idx_max]} -> {mean_petal_len[idx_max]:.2f} cm")

Species with longest petals: Iris-virginica -> 5.55 cm